/*
	  ==============================================================
		   Home Page ShortCode
	  ==============================================================
*/
.button_style_1{
	color: #fff;
	position: relative;
	display: inline-block;
	border: 1px solid #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}
.button_style_1:hover{
	background-color: #fff;
	color: #271d1d;
}
.btn_sm{
	padding: 8px 20px;
}
.btn_md{
	padding: 9px 25px;
}
.btn_lg{
	padding: 9px 30px;
}
.gt_hover_effect{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	z-index: 1;
}
.gt_overlay_wrap{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	transform:scale(0);
	-moz-transform:scale(0);
	-webkit-transform:scale(0);
	background-color:rgba(0,0,0,0.9)	
}