@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?igu9n8');
  src:  url('../fonts/icomoon.eot?igu9n8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?igu9n8') format('truetype'),
    url('../fonts/icomoon.woff?igu9n8') format('woff'),
    url('../fonts/icomoon.svg?igu9n8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color:before {
  content: "\e900";
}
.icon-compass:before {
  content: "\e901";
}
.icon-computer-tool-for-education:before {
  content: "\e902";
}
.icon-crayons:before {
  content: "\e903";
}
.icon-dish:before {
  content: "\e904";
}
.icon-hotel-staff:before {
  content: "\e905";
}
.icon-hourglass:before {
  content: "\e906";
}
.icon-kindergarten:before {
  content: "\e907";
}
.icon-meat:before {
  content: "\e908";
}
.icon-number-blocks:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-presentation:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-small-calendar:before {
  content: "\e90e";
}
.icon-smiling-baby:before {
  content: "\e90f";
}
.icon-teacher-showing-on-whiteboard:before {
  content: "\e910";
}
.icon-translation:before {
  content: "\e911";
}
.icon-write-board:before {
  content: "\e912";
}
.icon-avatar:before {
  content: "\e913";
}
.icon-bus:before {
  content: "\e914";
}
.icon-chocolate:before {
  content: "\e915";
}